# ==========================
# Backend
# ==========================
mock-bse-api/target/

# ==========================
# Frontend
# ==========================
mock-bse-ui/node_modules/
mock-bse-ui/dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.class
*.log

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment Files
# ==========================
.env